// Color variables
$base-background: #2e36d7;
$base-color: #fff;

// Font variables
$base-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$secondary-font-family: 'Roboto', sans-serif;

// Font size variables
$font-size-small: 18px;
$font-size-medium: 24px;
$font-size-large: 28px;

$letter-width: 35px;
$letter-height: 30px;

$button-width: 180px;
$button-height: 80px;